<!-- ##### SECTION Title ##### -->
Locker

<!-- ##### SECTION Short_Description ##### -->
DeforaOS Desktop Locker

<!-- ##### SECTION Long_Description ##### -->
<para>
Screensaver for the DeforaOS desktop.
</para>

<!-- ##### SECTION See_Also ##### -->
<para>
DeforaOS libDesktop, DeforaOS libSystem
</para>

<!-- ##### SECTION Stability_Level ##### -->


<!-- ##### SECTION Image ##### -->


