[Desktop Entry]
Name=Screensaver
Comment=Preferences for the screensaver
TryExec=lockerctl
Exec=lockerctl -S
Icon=preferences-desktop-screensaver
Type=Application
Categories=Settings;GTK;
